#dialog-box::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

#dialog-box::-webkit-scrollbar-thumb{
    background-color: rgb(90, 90, 90);
    border-radius: 20px;
}

#dialog-box::-webkit-scrollbar-track {
    background: transparent;
}

#dialog-box::-webkit-scrollbar-button {
    color: red;
    /* background: red; */
}